/*haader*/

body{
    width:100%;
    height:100%;
    position:absolute;
}

.m_header{
    background: white;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.88rem;
    margin:0 auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 20;
}

.m_header_left{
    width:0.48rem;
    height:0.48rem;
    font-size:0.48rem;
    color: #788186;
    position:absolute;
    left:0.20rem;
    margin-top: 0.2rem;
}



.m_header_left p{
    font-size: 0.22rem;
    color: white;
}

.m_search{
    width:100%;
    height:0.66rem;

    margin-top:0.10rem;
}

.m_search form{
    width:100%;
    height:100%;
    padding:0 0.84rem 0 0.84rem;
    position:relative;
}

.m_search form input[type=button]{
    width:0.46rem;
    height:0.46rem;
    font-size:0.46rem;
    color: dimgray;
    background:transparent;/*透明*/
    position:absolute;
    top: 0.05rem;
    left:1.18rem;
}

.m_search input[type=text]{
    width:100%;
    height:100%;
    font-size:0.3rem;
    background: #eeeeee;
    color: dimgray;
    padding-left:0.9rem;
    border-radius:0.3rem;
}

.m_header_right{
    width:0.48rem;
    height:0.48rem;
    font-size:0.46rem;
    color: #788186;
    position:absolute;
    right:0.20rem;
    top: 0.05rem;
    margin-top: 0.15rem;
}

.m_header_right p{
    font-size:0.22rem;
    color: white;
}

/*main*/

.category_main{
    width:100%;
    height:100%;
    background:#eeeeee;
    position:relative;
    overflow:hidden;/*注意*/
}

.category_main .category_left{
    width:1.88rem;
    background: aliceblue;
    overflow-y:scroll;/*溢出滚动*/
    float:left;
    position:absolute;
    left:0;
    top:0.88rem;
    bottom:1rem;/*后面这三项定位*/
}

.category_main .category_left ul li a{
    color:#6c6c6c;
    width:100%;
    height:100%;
    display:block;
}

/*左边内容部的排版*/
.category_main .category_left ul{
    width:100%;
    height:100%;
}

.category_main .category_left ul li{
    width:100%;
    height:1.04rem;
    line-height:1.04rem;
    text-align:center;
    font-size:0.24rem;
    border-bottom:0.02rem solid #eeeeee;
}

.category_main .category_left ul li a.cur{
    color:#ff6699;
    background:#eeeeee;
    border-left:0.06rem solid #ff6699;
}

/*右边内容部的排版*/
.category_main .category_right{
    width:5.52rem;
    overflow-y:scroll;
    float:right;
    position:absolute;
    right:0;
    top:0.88rem;
    bottom:1rem;
}

.category_main .category_right .right_con{
    width:100%;
    height: auto;
}

.category_main .category_right .right_con .dog_banner{
    width:100%;
    display:block;
}

.category_main .category_right .right_con .all{
    width: 100%;
    height: 0.5rem;
    background: #ff2307;
    text-align: center;
    display: block;
    border-radius: 0.05rem;
    margin-top: 0.2rem;
    line-height: 0.5rem;
    color: white;
    font-size: 0.24rem;
}

.category_main .category_right .right_con .dog_banner img{
    width:100%;
}

 .list{
     width:100%;
}

.list .tit{
    width:100%;
    height:0.8rem;
    line-height:0.8rem;
    font-size:0.28rem;
    color: black;
}

.list ul{
    width:100%;
    background: white;
}

.list ul li{
    width:24%;
    height:2.52rem;
    float:left;
    margin-right:2%;
    padding-top:2%;
    margin-left: 0.3rem;
}

.list ul li a{
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
}

.list ul li a p{
    font-size: 0.21rem;
    color: #a4a1b2;
    text-align: center;
}

.list ul li a img{
    width:1.0rem;
    height:1.0rem;
}

/*footer*/

footer{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.98rem;
    background:#fff;
    position: fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:101;
    border:1px solid #e5e5e5;
}

footer ul{
    display:flex;
}

footer ul li{
    flex:1;
    text-align:center;
}

footer ul li a{
    display:inline-block;
    width:1.17rem;
    height:0.98rem;
    padding:0.1rem 0;
    font-size:0.2rem;
    line-height:0.4rem;
}

footer ul li a span{
    display:inline-block;
    margin-left: -0.1rem;
}

footer ul li:nth-child(2) a{
    color:#e60032;
}


