.clearfix{
    clear: both;
}
.m_header{
    background: #eeeeee;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.88rem;
    margin:0 auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 20;
}

.m_header_left{
    width:0.48rem;
    height:0.48rem;
    font-size:0.48rem;
    color: #788186;
    position:absolute;
    left:0.22rem;
    line-height: 0.88rem;
}

.m_search{
    width:100%;
    font-size: 0.28rem;
    color: black;
    text-align: center;
    line-height: 0.88rem;
}

.m_header_right{
    width:0.68rem;
    height:0.68rem;
    position:absolute;
    right:0.22rem;
    top: 0.01rem;
}

.m_header_right p{
    font-size:0.4rem;
    color: #788186;
    line-height: 0.88rem;
}

.details-top{
    width: 100%;
    height: auto;
    max-width:7.5rem;
    min-width:3.2rem;
    background: white;
}

/*banner*/
.banner{
    width:100%;
    height:auto;
}

.banner .swiper-container{
    width:100%;
}

.banner .swiper-slide img{
    width:100%;
    height:auto;
}

.banner .swiper-pagination-bullet-active{
    background:#e60032;
}

.detail_name{
    margin-top: 0.2rem;
    width: 100%;
    height: auto;
}

.detail_name h4{
    width: 90%;
    font-size: 0.30rem;
    margin-left: 0.22rem;
}

.detail_name .one{
    width:90%;
    height:0.68rem;
    margin:0 auto;
    font-size:0.32rem;
    color: #ff2307;
    line-height:0.68rem;
}

.detail_name .one del{
    font-size:0.25rem;
    color:#a4a1b2;
}

.detail_name .two{
    width:90%;
    height:0.5rem;
    margin:0 auto;
    font-size:0.25rem;
    color:#a4a1b2;
}

.detail_name .three{
    width:90%;
    height:0.6rem;
    margin:0 auto;
    font-size:0.25rem;
    color: #a4a1b2;
}

.hx{
    width: 100%;
    height: 0.2rem;
    background: #e5e5e5;
}

.choose{
    width:100%;
    height:0.8rem;

    background:rgba(255,255,255,1);
}

.choose p{
    width:90%;
    height:0.8rem;
    margin:0 auto;
    line-height:0.8rem;
    font-size:0.3rem;
    color:#5a5a5a;
}

.choose p span{
    color:#8e8e8e;
}

.choose p a{
    display:block;
    float:right;
    width:0.4rem;
    height:100%;
    color:#565656;
}

.evaluate p{
    font-size:0.25rem;
}

.brand_pic{
    width:100%;
    height:auto;
    background:#fff;
    margin-top:0.15rem;
}

.brand_pic p{
    width:90%;
    height:1.5rem;
    margin:0 auto;
    font-size:0.35rem;
    color: #5a5a5a;
    line-height:1.5rem;
}

.brand_pic p i{
    padding-right:0.2rem;
    color:#be0f42;
}

.brand_pic .photo{
    width:100%;
    height: auto;
    margin:0 auto;
}

.brand_pic .photo img{
    width:100%;
    height:auto;
}

.footer{
    width:100%;
    height:1rem;
    max-width:7.5rem;
    min-width:3.2rem;
    margin:0 auto;
    background:rgba(249,249,249,1);
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:100;
}

.footer ul{ width:70%; height:1rem; float:left; }

.footer ul li{
    width:20%;
    height:1rem;
    float:left;
    text-align:center;
    line-height:0.4rem;
    padding-top:0.2rem;
}

.footer ul li i{
    font-size:0.4rem;
    color: #a4a1b2;
}
.footer ul li p{
    font-size:0.23rem;
    color: #a4a1b2;
}

.footer .jiaru1{
    float: left;
    width:30%;
    margin-left: -2.2rem;
    height:1rem;
    display:inline-block;
    background:rgba(216,6,59,1);
    text-align:center;
    line-height:1rem;
    color:rgba(255,255,255,1);
}

.footer .jiaru2{
    width: 29%;
    line-height: 1rem;
    color: white;
    padding-left: 0.4rem;
    height: 1rem;
    display:inline-block;
    background: #ff2307;
}