
.clearfix{
    clear: both;
}
.m_header{
    background: #eeeeee;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.88rem;
    margin:0 auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 20;
}

.m_header_left{
    width:0.48rem;
    height:0.48rem;
    font-size:0.48rem;
    color: #788186;
    position:absolute;
    left:0.22rem;
    line-height: 0.88rem;
}

.m_search{
    width:100%;
    font-size: 0.28rem;
    color: black;
    text-align: center;
    line-height: 0.88rem;
}

.m_header_right{
    width:0.68rem;
    height:0.68rem;
    position:absolute;
    right:0.22rem;
    top: 0.01rem;
}

.m_header_right p{
    font-size:0.26rem;
    color: black;
    line-height: 0.88rem;
}

.header_register{
    width: 100%;
    height: 0.8rem;
    background: white;
}

.header_register span{
    font-size: 0.24rem;
    color: black;
    text-align: center;
    float: left;
    line-height: 0.8rem;
    margin-left: 0.8rem;
}

.header_register>a {
    display: inline-block;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.12rem;
    border-radius: 0.06rem;
    margin-left: 0.08rem;
    color: white;
    font-size: 0.24rem;
    background: #ff2307;
    margin-top: 0.2rem;
}

.shopping_main{
    width: 100%;
    height:9.5rem;
    max-width:7.5rem;
    min-width:3.2rem;
    background: white;
}

.shopping_main .shopping_top{
    width: 100%;
    height: auto;
    background: #eeeeee;
    margin-top: 1.8rem;
}

.shopping_main .shopping_top .shopping_sign img{
     width: 0.40rem;
    height: 0.40rem;
    float: left;
    margin-top: 0.1rem;
    margin-left: 0.22rem;
 }

.shopping_top p{
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #343434;
    margin-left: 1.4rem;
}

.shopping_top ul{
    width:100%;
    height:auto;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}

.shopping_top ul li{
    width:100%;
    height:1.8rem;
    background: white;
}

.shopping_top ul li .active{
    width:10%;
    height:1.8rem;
    float:left;
}

.shopping_top ul li .active img{
    width:0.4rem;
    height:auto;
    margin:0.7rem 0.22rem 0rem 0.22rem;
    float:left
}

.shopping_top ul li a{
    display:block;
    float:right;
    width:90%;
    height:1.8rem;
    border-bottom:1px solid #e5e5e5;
}

.shopping_top ul li .pic{
    width:1.6rem;
    height:1.6rem;
    border:1px solid #e9e9e9;
    margin-top:0.1rem;
    float:left;
}

.shopping_top ul li .pic img{
    width:1.58rem;
    height:auto;
}

.shopping_top ul li .txt{
    width:4.75rem;
    height:1.6rem;
    float:left;
    margin-top:0.2rem;
    margin-left:-0.3rem;
}

.shopping_top ul li .txt p{
    font-size:0.24rem;
    color:#414141;
    line-height:0.34rem;
    margin-right: 0.3rem;
}

.shopping_top ul li .txt p em{
    font-size:0.22rem;
    color:#cfcfcf;
    font-style:normal;
}

.shopping_top ul li .txt span{
    font-size:0.27rem;
    color:#e40047;
    margin-left: 1.4rem;
}

.shopping_top ul li .txt span del{
    font-size:0.2rem;
    color:#cfcfcf;
}

.shopping_top .count{
    width:100%;
    height: 1.4rem;
    background: white;
}

.shopping_top .count .one{
    width:35%;
    height:80%;
    float:left;
    margin-left:0.3rem;
    font-size:0.25rem;
    color:#b5b5b5;
    margin-top:0.1rem;
}

.shopping_top .count .one i{
    font-style:normal;
    color:#999;
}

.shopping_top .count .two{
    /*width:100%;*/
    /*height: auto;*/
    float: right;
    direction:rtl;
    margin-right:0.22rem;
    margin-top:0.3rem;
    font-size:0.25rem;
}

.shopping_top .count .two b{
    font-weight:normal;
    color:#b5b5b5;
}

.shopping_top .count .two span{
    color: #ff2307;
}

.check_all{
    width:100%;
    height:1.0rem;
    background:#fff;
    position:fixed;
    bottom:0.98rem;
    max-width:7.5rem;
    min-width:3.2rem;
    left:50%;
    transform:translateX(-50%);
    z-index:100;
}

.check_all p{
    width:20%;
    height:1rem;
    float:left;
    font-size:0.3rem;
    color:#4a4a4a;
    line-height:1rem;
}

.check_all p img{
    width:0.3rem;
    height:auto;
    margin:0.35rem 0.32rem 0rem 0.22rem;
    float:left;
}

.check_all .all{
    width:65%;
    height:1rem;
    float:right;
    margin-right:0.1rem;
    margin-top: -0.95rem;
}

.check_all .all h4{
    width:3rem;
    height:0.8rem;
    font-size:0.3rem;
    font-weight:400;
    color:#e40047;
    float:left;
    direction:rtl;
    margin-top:0.1rem;
}

.check_all .all h4 span{
    font-size:0.25rem;
    color:#bdbdbd;
}

.check_all .all  button{
    width:1.83rem;
    height:0.83rem;
    background:#e40047;
    float:right;
    color:#fff;
    border:0 none;
    font-size:0.35rem;
    margin-top:0.07rem;
}

/*footer*/

footer{
    width:100%;
    max-width:7.5rem;
    min-width:3.2rem;
    height:0.98rem;
    background:#fff;
    position: fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:101;
    border:1px solid #e5e5e5;
}

footer ul{
    display:flex;
}

footer ul li{
    flex:1;
    text-align:center;
}

footer ul li a{
    display:inline-block;
    width:1.17rem;
    height:0.98rem;
    padding:0.1rem 0;
    font-size:0.2rem;
    line-height:0.4rem;
}

footer ul li a span{
    display:inline-block;
    margin-left: -0.1rem;
}

footer ul li:nth-child(4) a{
    color:#e60032;
}